html,body { 
  background: url(Rzee_wallpaper.jpeg) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
  background-position: left;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
 
  margin: 0;
  height: 100%;
  overflow: hidden;


}


.responsive {
  width: 50vw;
  
  height: auto;
  
  opacity: 0.30;
  box-shadow: 0 100px 100px black;
  -webkit-filter: grayscale(100%);
  filter: grayscale(200%);
  

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(1fr,300px));
  grid-template-rows: auto;
  justify-items: right;
  align-items: center;
  -webkit-transform: translate(10%, -180%);
}

.logo {
  transition: all 0.3s linear;
  border-radius: 70px;
  opacity: 2.50;
  position: relative;
  right: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 255, 0.589);
  width: 35vw;
  height: auto;
  filter: grayscale(10%);

}

.play {
 
  position: relative;
  float: left;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  left: 71vw;
  bottom: 35vw;
  color: blue;
  background-color: black;
  border-radius: 20px;
  transition: all 0.3s;
  width: 8vw;
  box-shadow: 4px 4px 5px rgba(0, 0, 255, 0.589);
  text-align: center;
  min-width: 8vw;
}
   
.play:hover {
  color: black;
  background-color: blue;
  box-shadow: 4px 4px 5px black;
}

.gopage-text {
  font-family: cursive;
  font: bold;
  color: aliceblue;
  text-align: center;
  border-width: thick;
  margin-top: 100px;
  
}

.container2 {
  background-color: #1B1B2F;
  margin: auto;
  margin-top: 10px;
  width: 450px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
}


.back {
  position: relative;
  top: 5vw;
  right: -30vw;
  border-radius: 50px;
  width: 10vw;
  min-width: 10vw;

  
}

.GO {
  position: relative;
  top: 5vw;
  right: -51vw;
  border-radius: 50px;
  width: 10vw;
  min-width: 10vw;
}


.container3 {
  background-color: #1B1B2F;
  margin: auto;
  margin-top: 100px;
  width: 450px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  color: aliceblue;
  text-align: center;
  font-family: cursive;
}

.profile_picture {
  width: 50vw;
  
  height: auto;
  
  opacity: 0.5;
  box-shadow: 0 100px 100px black;
  
  
}

.container4 {
  background-color: #1B1B2F;
  margin: auto;
  margin-top: 20px;
  width: 40vw;
  height: 33vw;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  position: relative;
  left: 26vw;
  bottom: 55vw;
}

.container4-shebeeb {
  background-color: #1B1B2F;
  margin: auto;
  margin-top: -40px;
  width: 40vw;
  height: 33vw;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  position: relative;
  left: 26vw;
  bottom: 55vw;
}

.container4-akhil {
  background-color: #1B1B2F;
  margin: auto;
  margin-top: 110px;
  width: 40vw;
  height: 33vw;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  position: relative;
  left: 26vw;
  bottom: 55vw;
}
.member-details {
  font-family: cursive;
  font: bold;
  color: aliceblue;
  text-align: center;
  border-width: thick;
  margin-top: 100px;
  
}


.exit {
  position: relative;
  top: -50vw;
  right: -70vw;
  border-radius: 50px;
  width: 10vw;
  min-width: 10vw;
}