{% extends "layout.html" %}


{% block content %}
<img src="{{url_for('static',filename='Adam.png')}}" alt="" class="profile_picture">

<div class="container4">
    <div class="member-details">
        <u>Name:</u><h2>Adam Easow Sam</h2><br>
        <u>DOB:</u><h2>26/01/2000</h2><br>
        <u>Nickname:</u><h2>Dolphin, Achayan</h2>

        

    </div>
    
    

</div>

<a href="{{url_for('home')}}"><button type="button" class="btn btn-primary btn-lg exit">Exit</button></a>

{% endblock content %}

