{% extends "layout.html" %}


{% block content %}
<img src="{{url_for('static',filename='Akhil.png')}}" alt="" class="profile_picture">

<div class="container4-akhil">
    <div class="member-details">
        
        <u>Name:</u><h2>Akhil Prem</h2><br>
        <u>DOB:</u><h2>20/01/2000</h2><br>
        <u>Nickname:</u><h2>Burj</h2>

        

    </div>
    
    

</div>

<a href="{{url_for('home')}}"><button type="button" class="btn btn-primary btn-lg exit-fuad">Exit</button></a>

{% endblock content %}