{% extends "layout.html" %}


{% block content %}
<img src="{{url_for('static',filename='Fuad.png')}}" alt="" class="profile_picture">

<div class="container4-akhil">
    <div class="member-details">
        <u>Name:</u><h2>Fuad Saleem</h2><br>
        <u>DOB:</u><h2>01/08/1999</h2><br>
        <u>Nickname:</u><h2>Chimbu Kozhi, Kaama Brandhan, Mola Raj</h2>

        

    </div>
    
    

</div>

<a href="{{url_for('home')}}"><button type="button" class="btn btn-primary btn-lg exit-fuad">Exit</button></a>

{% endblock content %}