{% extends "layout.html" %}
{% block content %}

<div class="container2">
    <div class="gopage-text">
        <h1>
            Instruction:<br>
                Think of a member of RZEE and<br>
                answer the questions that follow.<br>
                The program will try to guess the person.
            
        </h1>
        
    
    </div>
    
    
    
</div>

<a href="{{url_for('home')}}"><button type="button" class="btn btn-primary btn-lg back">Back</button></a>
<a href="{{url_for('play')}}"><button type="button" class="btn btn-primary btn-lg GO">GO!</button></a>

{% endblock content %}